@model SandboxAspnetMvc5.Data.Entities.SystemSetting

@{
	ViewBag.Title = "Edit System Setting";
}

<h2>Edit System Setting</h2>

@using (Html.BeginForm()) {

@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.Id)

<fieldset>
	<div class="field">
		<span class="fragment">@Html.LabelFor(model => model.ApplicationName, htmlAttributes: new { @class = "label_default" })</span>
		<span class="fragment">@Html.EditorFor(model => model.ApplicationName, new { htmlAttributes = new { @class = "input_default" } })</span>
		<span class="fragment">@Html.ValidationMessageFor(model => model.ApplicationName, "", new { @class = "error_default" })</span>
	</div>
	<div class="field">
		<span class="fragment">@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "label_default" })</span>
		<span class="fragment">@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input_default" } })</span>
		<span class="fragment">@Html.ValidationMessageFor(model => model.Name, "", new { @class = "error_default" })</span>
	</div>
	<div class="field">
		<span class="fragment">@Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "label_default" })</span>
		<span class="fragment">@Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "input_default" } })</span>
		<span class="fragment">@Html.ValidationMessageFor(model => model.Value, "", new { @class = "error_default" })</span>
	</div>
	<div class="action">
		<span class="fragment"><input type="submit" value="Save" class="btn_default" /></span>
	</div>
</fieldset>

<div>@Html.ActionLink("View System Settings", "ViewSystemSetting")</div>
}
